.App .navbar {
  padding: 0.4rem 1rem;
}

.navbar-brand {
  font-family: 'Segoe script', cursive, Arial, sans-serif;
  text-transform: none;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

@media (max-width: 630px) {
  .navbar-nav .nav-item {
    margin-right: 1rem;
  }
}

@media (max-width: 575px) {
  .navbar-nav {
    margin-top: 1rem;
  }
  .navbar-nav .nav-item {
    margin-right: 0;
  }

  .navbar-nav .nav-item .active {
    background-color: #fff;
    color: #000;
    /* background-color: #343a40; */
  }
  .navbar-dark 
  .navbar-nav 
  .nav-item
  .nav-link.active {
    color: #000;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 1.2rem 0;
    text-align: center;
  }
}